on init
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    write /sys/bus/i2c/devices/4-0020/input/input1/wake_gesture 1

on boot
    setprop sys.usb.config adb
on fs
    wait /dev/block/platform/soc/c0c4000.sdhci
    symlink /dev/block/platform/soc/c0c4000.sdhci /dev/block/bootdevice
    mkdir /vendor/etc 0755 root root
    mkdir /vendor/etc/vintf 0755 root root
    symlink /system/etc/vintf/manifest.xml /vendor/manifest.xml
    symlink /system/etc/vintf/manifest.xml /vendor/etc/vintf/manifest.xml
    start sbinqseecomd

# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    user root
    group root
    setenv LD_LIBRARY_PATH /sbin
    seclabel u:r:recovery:s0
