on init
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    write /sys/bus/i2c/devices/4-0020/input/input1/wake_gesture 1

on boot
    start health-hal-2-1
    setprop sys.usb.config adb

on fs
    wait /dev/block/platform/soc/c0c4000.sdhci
    symlink /dev/block/platform/soc/c0c4000.sdhci /dev/block/bootdevice
    mkdir /vendor/etc 0755 root root
    mkdir /vendor/etc/vintf 0755 root root
    symlink /vendor/manifest.xml /vendor/etc/vintf/manifest.xml
    start sbinqseecomd
    start keymaster-4-0

on property:sys.powerctl=*
    exec -- /system/bin/dd if=/dev/zero of=/dev/block/platform/soc/c0c4000.sdhci/by-name/misc bs=4096 count=256

service sbinqseecomd /system/bin/qseecomd
    user root
    group root
    setenv LD_LIBRARY_PATH /system/lib64:/vendor/lib64
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service health-hal-2-1 /vendor/bin/hw/android.hardware.health@2.1-service
    user root
    group root
    seclabel u:r:recovery:s0
